<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../bootstrap.css">
	<title>Card</title>
</head>
<body>
		<div class="col-sm-6" style="padding: 15px;">
		<div class="card">
          <div class="card-header">
            <h2><%= event.title %></h2>
          </div>
          <div class="card-body">
            <p class="text"><%= event.description%></p>
				<div class="row">
					<div class="col-sm-6">
					<table class="table table-hover">
						<tr class="table-secondary">
							<th>Début</th>
							<td><%= event.start_date.ctime%></td>
						</tr>
						<tr class="table-light">
							<th>Durée</th>
							<td><%= event.duration%> min</td>
						</tr>
					</table>
					</div>
					<div class="col-sm-6">
					<table class="table table-hover">
						<tr class="table-secondary">
							<th>Prix</th>
							<td><%= event.price%> €</td>
						</tr>
						<tr class="table-light">
							<th>Lieux</th>
							<td><%= event.location%></td>
						</tr>
					</table>
          			</div>
          		</div>
        	</div>
		</div>
		</div>
</body>
</html>
